@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 160.1 100% 100%;
    --foreground: 160.1 5% 10%;
    --card: 160.1 50% 100%;
    --card-foreground: 160.1 5% 15%;
    --popover: 160.1 100% 100%;
    --popover-foreground: 160.1 100% 10%;
    --primary: 160.1 84.1% 39.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160.1 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 122.1 30% 95%;
    --muted-foreground: 160.1 5% 40%;
    --accent: 122.1 30% 90%;
    --accent-foreground: 160.1 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 160.1 5% 100%;
    --border: 160.1 30% 82%;
    --input: 160.1 30% 50%;
    --ring: 160.1 84.1% 39.4%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 160.1 50% 10%;
    --foreground: 160.1 5% 100%;
    --card: 160.1 50% 10%;
    --card-foreground: 160.1 5% 100%;
    --popover: 160.1 50% 5%;
    --popover-foreground: 160.1 5% 100%;
    --primary: 160.1 84.1% 39.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 160.1 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 122.1 30% 25%;
    --muted-foreground: 160.1 5% 65%;
    --accent: 122.1 30% 25%;
    --accent-foreground: 160.1 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 160.1 5% 100%;
    --border: 160.1 30% 50%;
    --input: 160.1 30% 50%;
    --ring: 160.1 84.1% 39.4%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
